@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(74, 122, 122);
    background-attachment: fixed;
    height: 98%;
}

main {
    position: relative;
    height: 98vh;
    width: 98vw;
    background-attachment: fixed;
}

main div {
    background-color: rgb(166, 220, 218);
    padding: 20px 60px 20px 60px;
    border-radius: 4px;
}

form {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#isen, #iuser{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.794);
    padding: 5px;
    margin: 8px;
    border-radius: 4px;
}

